<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
</head>
<body>

<h1>タスク編集</h1>

<form th:action="@{/tasks/{id}/edit(id=${task.id})}" th:object="${task}" method="post">
    <div>
        <label>タスク名</label>
        <input type="text" th:field="*{title}" required>
    </div>

    <!-- タスク説明 -->
    <div>
        <label>タスク説明</label>
        <input type="text" th:field="*{description}">
    </div>

    <!-- 優先度 -->
    <div>
        <label>優先度</label>
        <select th:field="*{priority}">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
    </div>

    <!-- ステータス -->
    <div>
        <label>ステータス</label>
        <select th:field="*{status}">
            <option value="未着手">未着手</option>
            <option value="進行中">進行中</option>
            <option value="完了">完了</option>
        </select>
    </div>

    <!-- 保存ボタン -->
    <button type="submit">保存</button>

</form>

<a th:href="@{/tasks}">タスク一覧へ</a>

</body>
</html>
